.tu-feeds-list-item.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.reader-content p {
    margin: 1rem 0 1rem 0;
}

.reader-content h3 {
    margin: 1rem 0 1rem 0;
    font-size: 1.5rem;
}

.reader-content a {
    color: rgb(79 70 229);
    text-decoration: underline;
}

.reader-content ul li {
    list-style-type: disc;
    margin-left: 1rem;
    margin-top: 1rem;
}